*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Helvetica, sans-serif;
    background: #f1f1f1;
}

html {
    scroll-behavior: smooth;
}

/*------------Navigation----------*/

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: transparent;
    transition: background-color 0.3s ease-in-out,
                border-bottom 0.3s ease-in-out;
}

nav.anim-nav {
    background: #000;
    border-bottom: 1px solid #f1f1f1;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    nav li {
        margin: 0 8px;
    }

    nav a {
        font-size: 15px;
    }
}



/*------------Acceuil Fondu----------*/

.acceuil {
    height: 800px;
    display: flex;
    overflow: hidden;
}

.bloc-gauche-acceuil {
    position: relative;
    width: 40%;
    height: 100%;
    background: #000;
    box-shadow: 90px 0 100px 100px #000;
}

h1 {
    color: #f1f1f1;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}

.acceuil p {
    color: #f1f1f1;
    font-size: 30px;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}

.btn-acceuil {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    width: 150px;
    cursor: pointer
}

.btn-acceuil:hover {
    transform: all 0.2s ease-in-out;
    color: #000;
    background: #f1f1f1;
}

.b1 {
    margin-left: 8vw;
}

.b2 {
    margin-left: 10px;
}

.bloc-droit-acceuil {
    background-image: url(ressources/florian-olivo-Mf23RF8xArY-unsplash.jpg);
    width: 60%;
    height: 100%;
    background-size: cover; /* ou contain selon ce que tu veux */
    background-repeat: no-repeat;
    background-position: center;
}


/*Media Acceuil fondu*/

@media screen and (max-width: 1350px) {
    .bloc-gauche-acceuil {
        width: 60%;
    }

    .bloc-droit-acceuil {
        background-position: 72% 10%;
    }
}

@media screen and (max-width: 750px) {
    .acceuil {
        height: 600px;
    }
    h1 {
        font-size: 50px;
        padding-top: 120px;
    }
    .acceuil p {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .btn-acceuil {
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
    .bloc-gauche-acceuil {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .acceuil {
        height: 450px;
    }
    h1 {
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }
    .acceuil p {
        font-size: 25px;
        margin-left: 2vw;
        margin-bottom: 15px;
    }

    .btn-acceuil {
        padding: 8px;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 10px;
    }
    .bloc-gauche-acceuil {
        box-shadow: 20px 0 100px 100px #000;
        width: 40%;
    }

}


/*------------ Section Infos ----------*/


.titre-section-info {
    color: #000;
    text-align: center;
    font-size: 65px;
    padding: 50px 20px 120px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.section-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
    position: relative;
}

.carte-info {
    width: 350px;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    position: relative;
    z-index: 100;
}

.container-photo-info img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carte-info h2 {
    color: #333;
    text-align: center;
    font-size: 25px;
    padding: 20px 5px;
}

.carte-info p {
    color: #333;
    text-align: center;
    font-size: 23px;
    padding: 0 5px 15px;
}

.deco-infos {
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -100px;
    size: 50px;
    width: 200px; /*add*/
    height: 200px; /*add*/
}

@media screen and (max-width: 1400px) {
    .deco-infos {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .titre-section-info {
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
    .titre-section-info {
        font-size: 32px;
        padding: 40px 20px 40px;
    }

    .carte-info {
        margin: 0 10px 45px;
    }
}

/*------------ Section Choix ----------*/

#choix {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.entrainement-choix {
    width: 30%;
    text-align: center;
    color: #f1f1f1;
    margin: 50px 20px 70px;
}

.entrainement-choix h3 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}

.entrainement-choix p {
    font-size: 18px;
    width: 70%;
    margin: 0 auto 30px;
}

.btn-outline-choix {
    width: 300px;
    padding: 15px;
    font-size: 22px;
    background: #000;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.btn-outline-choix:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #000;
}

@media screen and (max-width:1200px) {
    .entrainement-choix {
        width: 400px;
    }
}

@media screen and (max-width:775px) {
    #choix {
        flex-direction: column;
    }
    .entrainement-choix h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .btn-outline-choix {
        width: 250px;
    }
    .entrainement-choix {
        width: 350px;
        margin: 50px 0px 70px;
    }
    .entrainement-choix:nth-child(1) {
        margin: 50px 20px 0px;
    }
}

/*------------ Section Équipements ----------*/

.titre-equipements {
    border-top: 1px dashed #f1f1f1;
    text-align: center;
    font-size: 70px;
    color: #000;
    padding: 50px 0;
    text-transform: uppercase;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
#equipement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto 100px;
}

.btn-modale {
    width: 350px;
    height: 400px;
    border: none;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-modale:nth-child(1) {
    background-image: url(ressources/1.jpg);
}
.btn-modale:nth-child(2) {
    background-image: url(ressources/2.jpg);
}
.btn-modale:nth-child(3) {
    background-image: url(ressources/3.jpg);
}
.btn-modale:nth-child(4) {
    background-image: url(ressources/4.jpg);
}
.btn-modale:nth-child(5) {
    background-image: url(ressources/5.jpg);
}
.btn-modale:nth-child(6) {
    background-image: url(ressources/6.jpg);
}
.btn-modale:nth-child(7) {
    background-image: url(ressources/7.jpg);
}
.btn-modale:nth-child(8) {
    background-image: url(ressources/8.jpg);
}
.btn-modale:nth-child(9) {
    background-image: url(ressources/9.jpg);
}

.bloc-modale {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
    display: none;
}
.active-modale {
    display: block;
}

.bloc-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
}

.bloc-modale img {
    width: 100%;
}
.fermerture-modale {
    position: absolute;
    z-index: 4000;
    top: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    font-size: 22px;
    color: white;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 850px){
    .titre-equipements {
        font-size: 45px;
    }
}
@media screen and (max-width: 500px){
    .titre-equipements {
        font-size: 35px;
    }
}

/*------------Parallax----------*/

.parallax {
    background-image: url(ressources/3focus3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.parallax-txt {
    font-size: 100px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 550px) {
    .parallax-txt{
        font-size: 50px;
    }
}

/*------------Section tarifs----------*/

.titre-tarifs {
    background: #f1f1f1;
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
}

#tarifs {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto 100px;
}

.carte-tarif {
    width: 350px;
    height: auto;
    background-image: repeating-linear-gradient(135deg, hsla(55,0%,44%,0.09) 0px, hsla(55,0%,44%,0.09) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(45deg, hsla(55,0%,44%,0.09) 0px, hsla(55,0%,44%,0.09) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, hsl(22,0%,8%),hsl(22,0%,8%));
    color: #f1f1f1;
    margin: 20px 10px;
    border-radius: 5px;
}


.carte-tarif h3 {
    text-align: center;
    font-size: 45px;
    margin: 25px 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    position: relative;
}

.prix-carte {
    text-align: center;
    font-size: 30px;
    margin: 25px 0;
}

.prix-carte span {
    font-size: 80px;
    position: relative;
}

.prix-carte span::after {
    content: "€";
    display: block;
    position: absolute;
    top: 10px;
    right: -20px;
    font-size: 25px;
}

.infos-carte {
    width: 170px;
    margin: 20px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 22px;
}

.infos-carte img {
    margin-right: 7px;
    width: 20px;
}

/*------------Section formulaire----------*/

/* Titre de la section contact */
.titre-contact {
    border-top: 1px dashed #000;
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin: 3rem 0 2rem 0;
    font-weight: 400;
}

/* Section contact */
#contact {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 4rem;
}

/* Formulaire */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Labels */
#contact label {
    font-weight: 400;
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    display: block;
}

/* Inputs et textarea */
#contact input[type="text"],
#contact textarea {
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 1.1rem;
    font-family: inherit;
    background: white;
    width: 100%;
    box-sizing: border-box;
}

#contact input[type="text"]:focus,
#contact textarea:focus {
    outline: none;
    border-color: #999;
}

/* Textarea spécifique */
#contact textarea {
    min-height: 160px;
    resize: vertical;
}

/* Bouton du formulaire */
.form-btn {
    background: white;
    color: #333;
    padding: 1.2rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 1rem;
}

.form-btn:hover {
    background: #f5f5f5;
    border-color: #999;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: auto;
    border-top: 1px dashed #000;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
    .titre-contact {
        font-size: 2rem;
        margin: 2rem 0 1.5rem 0;
    }
    
    #contact {
        margin: 0 1rem 3rem 1rem;
        padding: 1.5rem;
        max-width: none;
    }
    
    #contact input[type="text"],
    #contact textarea {
        padding: 1rem;
        font-size: 1rem;
    }
    
    #contact label {
        font-size: 1rem;
    }
    
    .form-btn {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    
    #contact textarea {
        min-height: 140px;
    }
}